[2017-07-01 02:42] samedder opened #2 "Enable PEP8"
Use both PEP8 and PyLint for style and correctness checks

[2017-07-03 21:15] samedder opened #3 "Verify LCA header exists for every file"
Write a custom PyLint checker to verify the existence of a legal header for every new python file.

[2017-07-26 04:10] samedder opened #6 "Unprovision application TypeError"
When running the unprovision command:

[code]

A `TypeError` is raised attempting to deserialise the `FabricError` type object from the response. The following stack trace is shown:

[code]

While the unprovision causes an error, subsequent attempts to list the provision application type do not show the application when calling `application type-list`

[2017-07-27 23:00] #3 closed, assigned to samedder

[2017-07-28 01:34] samedder opened #9 "Application upload uses multiple sessions"
Currently when running `application upload`, on every request made a user is prompted for authentication when connecting to secure clusters. This also slows down uploads.

Instead, a single session should be used and multiple requests sent through the session.

[2017-08-17 20:40] samedder commented on #9
It was found during #11 that an HTTPS session for file uploads will terminate early due to the server (cluster) closing the TCP connection unexpectedly. This causes the session to end, thus requiring credential entry again. A workaround was added in #11 to cache to certificate pass phrase, but should be removed once the underlying drops have been fixed. A separate issue will be used to track this.

[2017-08-17 20:42] samedder opened #13 "Cluster drops connection unexpectedly during application upload"
When running the `application upload` command, when a session is created it appears to be terminated early due to the underlying TCP connection being closed gracefully by the server.

This ends the session early, and in the case of an HTTPS connection, will require re prompting for certificate pass phrases.

Found during #11, related to #9

[2017-08-17 20:42] #9 closed

[2017-08-21 23:13] samedder opened #15 "`application upload` returns 400 despite success"
When running an application upload command, sometimes the return status for a single file upload will be a 400 error, despite the file upload completing without issue.

This is due to behaviour from the Service Fabric cluster and not the CLI.

[2017-09-06 18:21] suhuruli opened #21 "uninstall script returns 500 error and renders cluster unusable"
Running the uninstall.sh script generated by Yeoman on a cluster returns an error and renders that cluster unusable until you manually delete the code packages on the nodes. The script will successfully delete and unprovision the application but there will be left over data on the nodes. The error is shown below for when you run the uninstall.sh script:

`Error occurred in request., ConnectionErro

[2017-09-06 19:44] samedder opened #22 "Format specification error when attempting to run `store stat`"
The DateTime field is not correctly formatted in the objects returned by the `store stat` command, thus resulting in the following error:

[2017-09-07 22:54] samedder commented on #13
This is due to #15, will close as this as related

[2017-09-07 22:54] #13 closed

[2017-09-08 18:18] samedder commented on #21
Can you please include logs with the `--debug` flag specified? It's not possible to tell what the response/request is without that.

[2017-09-09 18:01] linggengmsft commented on #6
The returning code is set wrong. Will fix it in latest release.

[2017-09-12 17:34] mani-ramaswamy opened #24 "Table/tsv formatting not working for certain commands."
sfctl node list -o table  diplays blank.

[2017-09-14 19:54] samedder commented on #21
@suhuruli are you still having issues?

[2017-09-14 21:58] samedder commented on #21
Close as no repo for now, missing debug logs. Seems to be non-issue.

[2017-09-14 21:58] #21 closed

[2017-09-15 00:07] samedder opened #25 "Support zipped application upload"
Currently there's a hard coded check to only allow directory uploads. The image store now supports uploading zipped application packages. In order to speed up application uploads, consider using zipped uploads.

[2017-09-15 18:43] sridmad opened #26 "Add a -v switch to display version of sfctl"
or -h switch includes version information.

Helps with analyzing and reporting issues

[2017-09-15 19:29] samedder commented on #26
Will consider it. As a workaround another option is to use pip: `pip show sfctl`

[2017-09-15 21:31] linggengmsft commented on #6
FYI. This issue has been merged to main branch.

[2017-09-16 22:28] samedder opened #27 "Make parameter naming consistent"
When specifying Service Fabric entities, different commands use different parameters. For example some commands need a fabric name such as `fabric:/App` while others just need the id `App`.

These should be consistently either the name or the id.

[2017-09-16 22:30] mani-ramaswamy commented on #27
This should also be done in a backwards compatible manner, so if "fabric:/" is specified, we still accept it if that's the convention chosen. Or if the convention is not to specify "fabric:/", the CLI automatically removes it if the customer specifies it.

[2017-09-18 22:21] samedder opened #30 "`application provision` returns not helpful 500 on client errors"
If an application package is malformed or invalid, the `application provision` API will fail with a 500 response code. This is indicative of a server side error, rather than client and returns no meaningful information about what could be wrong with the application package.

A more detailed response would help reduce debugging times for provision failures.

[2017-09-18 22:23] samedder commented on #6
Pending testing and verification

[2017-09-18 22:30] samedder opened #31 "Deleting a non existent application returns an invalid status code"
When deleting an application that does not exist the response code appears to be invalid:

[code]

The API does not expect to return a 404 status code.

[2017-09-18 22:32] samedder opened #32 "Attempting to provision the same application package twice results in an invalid status code"
When calling `application provision` on an application type that has already been provisioned, an invalid response code of 409 is returned.

[code]

This is a bug in the API specification for `application provision`.

[2017-09-19 18:21] snapnurse-joshuamatthews commented on #6
When I execute unprovision, it seems that sfctl isn't sending the correct parameters to the api

[code]

[2017-09-19 19:44] iyyappam commented on #32
Internal bug 10301848 filed.

[2017-09-19 21:11] linggengmsft commented on #6
@snapnurse-joshuamatthews , "MicroservicesType" is your application type name so the request is correct. Are you seeing any errors? The response status is supposed to be 202. What is your cluster version?

[2017-09-19 21:19] snapnurse-joshuamatthews commented on #6
look at the request body, applicationTypeName is not there. I am getting an error because the required parameter is missing. Am I passing it in wrong?

[2017-09-19 21:21] linggengmsft commented on #6
It is by-design in the path instead of body. Please refer to our doc:
https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-unprovisionapplicationtype

[2017-09-19 21:21] snapnurse-joshuamatthews commented on #6
@linggengmsft the response status is 200, but there is a response message saying that a required parameter is missing, and in the documentation ApplicationTypeName is a required parameter.

[2017-09-19 21:22] snapnurse-joshuamatthews commented on #6
Okay I see, not sure why the error then. I am using it through python on a mac, maybe related

[2017-09-19 21:23] linggengmsft commented on #6
@snapnurse-joshuamatthews , what error were you seeing? The request you pasted should work. And what is the version of your cluster btw?

[2017-09-19 21:30] snapnurse-joshuamatthews commented on #6
If I use a rest client, the route

`http://192.168.50.50:19080/ApplicationTypes/MicroservicesType/$/Unprovision?api-version=3.0&timeout=60`

with the body

[code]

returns a 400 error

` {"Error":{"Code":"E_INVALIDARG","Message":"Invalid argument"}}`

but if I change the body to

[code]

then it works. This might be related to my cluster being on linux, maybe there are some differences in the api.

[2017-09-19 21:33] linggengmsft commented on #6
@snapnurse-joshuamatthews
Please provide your cluster version for us to investigate.

[2017-09-19 21:36] snapnurse-joshuamatthews commented on #6
Where do I find it?

[2017-09-19 21:40] snapnurse-joshuamatthews commented on #6
I used the vagrant-linux vm from the Microsoft docs.

[2017-09-19 22:03] linggengmsft commented on #6
@snapnurse-joshuamatthews
You could query node info: https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-getnodeinfo
And if there isn't a cluster upgrade going on, the node version would be the cluster version.

[2017-09-19 22:09] snapnurse-joshuamatthews commented on #6
Node version is 5.7.12.1

[2017-09-19 23:56] oanapl commented on #6
Can you try removing the ',' from the body:
 {
  "ApplicationTypeVersion": "1.0.0"
}

instead of
 {
  "ApplicationTypeVersion": "1.0.0",
}

[2017-09-20 00:25] snapnurse-joshuamatthews commented on #6
Ah that does seem to fix the rest client. I guess thats not the source of the errors I'm seeing in console. Pasted the original error below which I though was caused by missing param but now no idea.

`Joshuas-MacBook-Pro:SnapNurse joshuamatthews$ sfctl application unprovision --application-type-name SnapNurseMicroservicesType --application-type-version 1.0.0 --debug
Command arguments: ['applicati

[2017-09-21 00:27] #15 closed

[2017-09-21 03:26] samedder commented on #6
That's the same issue as reported at the beginning of this thread.

On Tue, 19 Sep 2017, 17:25 snapnurse-joshuamatthews <
notifications@github.com> wrote:

[2017-09-25 06:47] samedder opened #36 "New naming convention results in errors"
Whenever trying to pass an application or service id using the new convention of delimiting name sections with `~`, the operation fails with `FABRIC_E_INVALID_NAME_URI`.

For example `sfctl application info --application-id TestEd~Test` fails.

As a workaround however ` sfctl application info --application-id TestEd/Test` does work

[2017-09-25 06:55] samedder opened #37 "Application upgrade expects a name instead of an id"
When running `sfctl application upgrade` the `--app-id` parameter expects a name in the format of `fabric:/testapp` instead of just `testapp`. This is misleading sine usually application names start with `fabric:/` and not Ids.

[2017-09-25 18:13] mani-ramaswamy commented on #26
pip show sfctl gives me a blank.  Since this is now GA, we should have the versioning show up. with a --version switch.

[2017-09-27 08:06] Jose-CF opened #38 "Listing cluster applications not working"
I used to use Azure CLI 2.0 and was working fine.
Last update dropped Service Fabric.

I just installed sfctl. I can select my cluster as previously, seems normal:
`sfctl cluster select --endpoint http://cf-imageservice-test.southeastasia.cloudapp.azure.com:19080`

Although no output from this command.

When I issue:
`sfctl application list`

I get the following error:

[code]

Any workarounds?

[2017-09-27 19:57] samedder commented on #38
What's the runtime version of your Service Fabric cluster? Can you also check what version of sfctl you're using? you can do this with `pip show sfctl`.

[2017-09-28 01:57] Jose-CF commented on #38
I found the problem.... the problem is that the set of GET parameters the servicefabric package was issuing... were correct... but only correct from version 6.x of Service Fabric cluster. Actually that was only very recently released.

So the version my cluster had did not recognize the parameters....

This is a terrible issue since most people did not upgrade their clusters yet as 6.x was only re

[2017-09-28 02:00] Jose-CF opened #39 "--application-definition-kind-filter documentation confusing"
I went through this text few times:
![image](https://user-images.githubusercontent.com/24405049/30945942-418dcbfc-a42b-11e7-9f52-10fe425ea0de.png)
And found this snippet unfairly complicated to read.
I know my intellect is not very powerful. But I bet this could be a bit more clear. At least the indentation would help.

[2017-09-28 06:18] sridmad opened #40 "sfctl should validate that it is compatible with Service Fabric runtime on cluster"
Connection to a cluster with Fabric runtime that is not supported by installed version of sfctl succeeds but almost none of the other commands work.

Expected behavior:
sfctl should check the version of runtime in sfctl cluster select and if it cannot support the version of Fabric Runtime deployed to the cluster it should give an actionable error.

[2017-09-28 19:39] #38 closed

[2017-09-28 22:19] linggengmsft commented on #39
@Jose-CF
We added definition kind in the Application and Application Type query in v6.0 release:
In addition to the existing application package deployments, we added support for compose deployments (preview). To distinguish between different kind of deployments, the application information returned by get application list query exposes an additional “ApplicationDefinitionKind” field. Similarly, t

[2017-09-29 18:53] linggengmsft commented on #38
@Jose-CF , could you try install the older version of sfctl which works with previous clusters?

pip uninstall sfctl
pip install sfctl==1.1.0

[2017-10-09 16:28] pouladpld commented on #36
I experienced the same problem using the latest version (supporting 6.0 runtime).

[2017-10-09 16:30] pouladpld commented on #37
Also a parameter named `--app-id` is not in line with the convention in other commands as they use `application-id` parameter name.

[2017-10-12 23:20] hunterSThompson opened #45 ""sfctl application upgrade" seems to be broken"
It appears that upgrading a service-fabric application via `sfctl application upgrade` is completely broken.

I'm attempting to upgrade using the stand procedure documented here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-lifecycle-sfctl#upgrade-application

I can upload and provision the new version fine, and it shows up in the Service Fabric explorer.  But r

[2017-10-13 00:21] samedder commented on #45
Can you include the following information?

- Version of `sfctl` used
- Version of your cluster
- Output of `application upgrade` with the `--debug` flag specified?

[2017-10-13 00:50] hunterSThompson commented on #45
Version of `sfctl`: 6.0.120.1
Version of cluster: I tried both a local cluster and one on Azure, they were both 6.0.120.1.

Here's the output with `--debug`:

hunt@hunt-VirtualBox:~/service-fabric-java-getting-started/Actors$ sfctl application upgrade --app-id sf-test --app-version 2.0.0 --parameters "{}" --health-check-stable-duration 60 --upgrade-domain-timeout 1200 --upgrade-timeout 3000 --mode

[2017-10-13 00:51] hunterSThompson commented on #45
Also I fixed the title... sorry about that, I was (clearly) in a rush.

[2017-10-13 00:53] samedder commented on #45
@hunterSThompson that's not a version of sfctl that's published. Can you verify that's the version you have installed? You can get the install version by running `pip show sfctl`

[2017-10-13 07:31] hunterSThompson commented on #45
So... interestingly I don't seem to have pip installed, so guess I must have done the manual installation.

Here's the output of `apt-get -s install servicefabric`:

hunt@hunt-VirtualBox:~$ sudo apt-get -s install servicefabric
Reading package lists... Done
Building dependency tree
Reading state information... Done
servicefabric is already the newest version (6.0.120.1).
servicefabric set to manua

[2017-10-13 20:33] samedder commented on #45
@hunterSThompson you should have `pip` installed if you ran the install script you mentioned in the beginning.  From the script:

[code]

If you don't, theres [documentation on how to install sfctl](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli).

[2017-10-16 17:57] hunterSThompson commented on #45
I tried uninstalling whichever version I had installed-- then re-ran the script via:  `sudo curl -s https://raw.githubusercontent.com/Azure/service-fabric-scripts-and-templates/master/scripts/SetupServiceFabric/SetupServiceFabric.sh | sudo bash`.

Now, `pip show sfctl` says I have version 2.0.0 installed... but running the upgrade command still fails with the same generic 500 error.

To be doubly

[2017-10-16 18:36] samedder commented on #45
@hunterSThompson can you include the output with the `--debug` flag once more? Paste it into a gist or pastebin link if possible. Thanks!

[2017-10-16 18:51] hunterSThompson commented on #45
Dang, knew I was forgetting something!

Paste-bin link:  https://pastebin.com/0K8pVxyn

[2017-10-16 19:21] samedder commented on #45
Thanks, one other piece of information @hunterSThompson:

Can you get the `Resource ID` from the Azure Portal for your cluster? This should be a string of the format:

`/subscriptions/<guid>/resourcegroups/<string>/providers/Microsoft.ServiceFabric/clusters/<string>`

[2017-10-16 19:26] hunterSThompson commented on #45
No problem.

/subscriptions/3664c441-5d00-4d69-adfd-e230ce32edc8/resourceGroups/service-fabric-testing/providers/Microsoft.ServiceFabric/clusters/guacamole-test

[2017-10-18 18:07] samedder commented on #45
@hunterSThompson can you try with `--app-id fabric:/EchoServerApplication` ?

[2017-10-19 00:40] hunterSThompson commented on #45
Welp, I could have sworn I tried that, but I clearly _did not_ as it's working now...

I see that the documentation clearly says to use the full URI scheme here:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-sfctl-application#sfctl-application-upgrade

But here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-lifecycle-sfctl#upgrade-applicat

[2017-10-19 00:46] samedder commented on #45
Yep, this is then a duplicate of #37.

We're aware also the error responses are not helpful. This is something we're working on improving in future releases.

[2017-10-19 00:46] #45 closed

[2017-10-19 00:47] hunterSThompson commented on #45
Awesome. Thanks again for your time

[2017-10-19 07:40] serbrech opened #46 "sfctl service update --load-metrics json argument format"
The doc states

--load-metrics | JSON encoded list of metrics used when load balancing services across           nodes.
-- | --

 I looked in the tests to maybe find an example, but they use the python method directly so, it does not give a CLI example :

https://github.com/Azure/service-fabric-cli/blob/89265b7c19f503956f9a23490352086c38cf226f/src/sfctl/tests/service_test.py#L44

And following thi

[2017-10-19 10:22] serbrech commented on #46
Looking at https://github.com/Azure/service-fabric-cli/blob/89265b7c19f503956f9a23490352086c38cf226f/src/sfctl/params.py#L52

Does this mean the `update` verb does not support the --load-metrics argument as it's not listed in the arg_context?

[2017-10-19 19:47] samedder commented on #46
This is an issue it looks like with how the JSON string is parsed. There's a fix in PR now.

[2017-10-20 18:02] #46 closed

[2017-10-20 18:20] samedder commented on #39
Closing for now, won't make improvements yet.

[2017-10-20 18:20] #39 closed

[2017-10-20 18:25] #37 closed

[2017-10-30 14:42] joakimhew opened #51 "sfctl application upload throws FABRIC_E_SERVICE_DOES_NOT_EXIST"
**System info:**
Windows 10 build 15063
Service fabric runtime 6.0.219.9494
Service fabric SDK 2.8.219.9494
sfctl 3.0.0

**Issue**
I am trying to use the `application upload` option in sfctl for a .NET core project in the following manner:
`sfctl application upload --path CounterServiceApplication --show-progress`

This is found from the sample at [Azure-Samples](https://github.com/Azure-Samples/s

[2017-10-30 18:23] judy opened #52 "Cannot upgrade cluster from 5.7.198.9494 to latest"
My cluster is currently version 5.7.198.9494. It is supposed to be supported until December 15th, 45 days away. I need to upgrade it in time to stay supported.

I'm running sfctl 1.1.0, and it doesn't have `sfctl cluster upgrade`. So I upgrade to sfctl 3.0.0, which has the command. Unfortunately, when I run it, I get an error `Operation returned an invalid status code 'Bad Request'`. It's nearly i

[2017-10-30 18:29] judy commented on #52
I ran pip3 install sfctl==99 to see a list of versions available. I got 1.0.1, 1.1.0, 1.2.0rc2, 2.0.0, and 3.0.0. I tried both 1.2.0rc2 and 2.0.0, in case one of them introduced the upgrade command and still talked to my cluster. No dice. 1.2.0rc2 doesn't have `upgrade`, and 2.0.0 gives me `Bad Request`.

[2017-10-31 19:26] oanapl commented on #52
@judy, can you paste the verbose output from your command for sfctl 2.0.0?

Meanwhile, can you use [Powershell cmdlets](https://docs.microsoft.com/en-us/powershell/module/servicefabric/start-servicefabricclusterupgrade?view=azureservicefabricps) to upgrade the cluster to unblock yourself?

[2017-10-31 19:55] judy commented on #52
Sure. Downgraded to 2.0.0 and ran it:

[code]

[2017-10-31 22:12] linggengmsft commented on #52
@judy, sfctl starting from 2.0.0 is for cluster version 6.0 and above so it wouldn't work for pre-6.0 clusters.
I've verified that 1.*.* sfctl doesn't have cluster upgrade feature, so basically you need to use other APIs to achieve this. e.g. PS like oanapl suggested

[2017-11-01 17:46] judy commented on #52
I was trying to get the cmdlets working yesterday. I think I was hitting the same issue, where the latest version of the SDK refused to talk to the older clusters.

I ended up destroying the clusters and recreating them. Not ideal, and not something we're going to be able to do when we're running in production soon. 😞

[2017-11-01 18:47] linggengmsft commented on #52
@judy , sorry for the inconvenience. The fundamental issue with this is like I said - a specific version of sfctl is supposed to work on a corresponding version of cluster or above nowadays which is our "backward compatibility" guarantee. What sfctl is doing is calling cluster's REST API with a specific "api-version" in the body. That's why your sfctl can not help you upgrading v5.7 cluster.

By "

[2017-11-01 19:22] judy commented on #52
Powershell against a secured cluster. I know it's worked in the past, with the entire connection string to tell it which certificate to use (by thumbprint) and so on. But I've upgraded the SDK since then...

Those improvements would help a lot. We really need to be able to effortlessly talk to older API versions, in order to send the command to upgrade to newer API versions. ;) Thank you!

[2017-11-10 06:31] qx-will opened #54 "please add a option to show the current connected cluster"
I wish there is a option when invoke sfctl cluster to check what is the current connected cluster? i made several mistake to deploy the app onto the wrong cluster, after several times then before each deployment, i like to check which cluster i am actually connect to..

[2017-11-10 19:45] samedder commented on #54
Thanks for the suggestion. This is a good first new feature that someone can add if they want to get familiar with the codebase.

[2017-11-10 19:49] samedder opened #55 "Invalid or incorrect application packages will result in 500 errors during `application upgrade`"
If there's a mistake in my application package, such as invalid parameter names, or changes in settings that are not allowed, `sfctl application upgrade` responds with a 500 error message. This is counter-intuitive since a 400 error message is expected when clients send invalid requests or invalid application packages.

Furthermore, there are no details on what is wrong with the application packag

[2017-11-10 19:52] samedder commented on #52
@judy I don't know the best way to categorise this issue. I think we're going to make improvements but there isn't a current workaround in just the CLI.

I'll close the issue for now and we'll go from what @linggengmsft suggested.

[2017-11-10 19:52] #52 closed

[2017-11-10 19:59] samedder commented on #51
This appears to be a bug in the way the API version string is specified in the CLI.

[2017-11-10 20:15] jblackburn21 commented on #51
I was running into the same issue when trying to deploy to a local cluster, and was able to run it successfully by using the file image store:

sfctl application upload --path CounterServiceApplication --imagestore-string "file:/mnt/c/SfDevCluster/Data/ImageStoreShare"

The local cluster doesn't appear to have the ImageStore system service running

[2017-11-11 00:00] iyyappam commented on #51
I'll take a look.

[2017-11-13 21:29] iyyappam commented on #51
I believe that you have setup a local cluster and was trying to upload without explicitly specifying imagestore_string as parameter. As @jblackburn21 mentioned, image store service is not run on the local cluster and you would get FABRIC_E_SERVICE_DOES_NOT_EXIST error. To fix it, provide --imagestore_string parameter for your local cluster.  Please let us know if you get this error for any other c

[2017-11-14 12:35] joakimhew commented on #51
@iyyappam Alright that explains it, just confirmed that the cluster running locally in windows has a ImageStoreConnectionString of "file:".. instead of "fabric:.."

I'm on a Mac and when I run a local cluster using the service fabric vagrant image, the `ImageStoreConnectionString` is "fabric:...". In this case, sfctl application upload works without explicitly providing the imagestore_string param

[2017-11-14 18:59] iyyappam commented on #51
You are welcome.

You can read more about ImageStoreConnectionString here.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-image-store-connection-string

[2017-11-16 05:40] kkorsakov opened #56 "Console output is not readable from POSH in default colour scheme"
sfctl prints error output in red and POSH has blue background. Text is completely unrecognizable.

![image](https://user-images.githubusercontent.com/966331/32875587-36d46f9c-cab2-11e7-8f0b-011c64dee8f7.png)

[2017-11-24 03:27] qx-will commented on #54
just make a PR to support this. @samedder

[2017-11-24 08:00] Jose-CF commented on #30
Indeed, I am getting that error but I do believe my application package is fine (maybe no?!) But no way to know it....

[2017-11-24 08:00] Jose-CF commented on #55
Same here. How can we even think about what might be wrong if just a 500 error comes back?
When I do the request manually I get a 200 one. Strange.

[2017-11-24 08:03] kkorsakov commented on #30
A workaround may be to print server response body to stderr (as i do locally after fixing msrest lib), usually response is descriptive enough. But this issue really needs attention, sfctl is hard to work with.

[2017-11-24 08:04] Jose-CF opened #59 "sfctl application provision --application-type-build-path testPackage fails"
I upload my package with the command `sfctl application upload --path testPackage --show-progress` as usually and this succeeds.

I try to provision my application with:
`sfctl application provision --application-type-build-path testPackage` and it will fail with this error:

The same operation using Azure CLI 2.x used to work fine.
Since moved to `sfctl` it does not work anymore.

[code]
Where I

[2017-11-24 09:56] Jose-CF commented on #30
@kkorsakov the problem is that the server itself only returns 500 and no message.

Fortunately had access to the server and could see in the logs what was wrong...

But really inconvenient that sfctl will not get an error message from the server that would be just displayed... would have saved me and many other people a bunch of hours.

[2017-11-24 10:12] kkorsakov commented on #30
SF server always (in my case) returns body along with 500 code. Body contains description in JSON format, but sfctl doesn't print in anywhere. Could you give dump of request/response?

[2017-11-28 22:05] samedder commented on #59
Can you please include the following information:

- `sfctl` version
- Service Fabric cluster runtime version
- Re-run the provision command with the `--debug` flag specified, and capture the debug output

[2017-11-28 22:06] samedder commented on #56
Won't fix, sorry.

As a workaround you can change the background colour of your PowerShell window to be black or grey, or another contrasting colour.

[2017-11-28 22:06] #56 closed

[2017-11-28 22:08] #51 closed

[2018-01-23 23:57] jcannata commented on #51
I am running into this same issue when trying to issue a 'store delete' command on a standalone cluster. However, in this case there is no option for --imagestore-string. Any hints as to how I might specify the correct image store connection string?

[2018-01-24 00:03] iyyappam commented on #51
Unfortunately there is no way to do it currently for the store delete when using local cluster. I'll file a bug on this.

[2018-02-05 06:31] Jose-CF commented on #30
Nothing in the body, otherwise I won't be texting here :1234:

[2018-02-06 15:58] rganz opened #65 ""--no-verify" option doesn't work"
When I try to connect to my cluster on Azure using sfctl I get an error. I assume it is because of the self-signed certificates.

[code]

Then I pass the `--no-verify` option, I just get another error that this is not recomended. But then nothing happens.
[code]

I reach the SF Explorer page with Chrome without any problems.
curl of `https://cluster.region.cloudapp.azure.com:19080` works als well,

[2018-02-06 18:24] samedder commented on #65
@rganz what doesn't work? Can you run `sfctl node list`? The warning will always be displayed, it's a reminder that you're performing an insecure operation.

[2018-02-06 21:33] likewarster opened #66 "Receiving invalid argument response on most commands"
- sfctl version: 3.0
- Service Fabric cluster runtime version: 6.1.183.1
- Service Fabric hosting location: Azure
- Local OS: Ubuntu 17.10

When running seemingly any command that interacts with the cluster I am getting an invalid argument response.

sfctl cluster health --debug
[code]

[2018-02-06 22:54] samedder commented on #66
@likewarster support for 6.1 cluster runtime is coming. Until then this is not a supported case, the latest version of sfctl only supports 6.0 runtime clusters.

[2018-02-07 07:38] rganz commented on #65
Oh, that works. I was expecting some feedback to `connect` like a "sucessfully connected".

[2018-02-07 07:38] #65 closed

[2018-02-08 15:33] likewarster commented on #66
@samedder Thank you for the response. Do you happen to know if it is possible to deploy new Service Fabric clusters with older Service Fabric versions on Azure?

[2018-02-08 19:31] samedder opened #67 "Provision command removed due to breaking API"
The command `application provision` has been removed due to a compatibility issue with the Service Fabric 6.1 runtime.

This only affects the latest changes, not any released version of sfctl. Found as part of #63

[2018-02-08 20:10] samedder commented on #66
@likewarster Yes, you should be able to select the cluster version under the `+Optional Features` section when configuring the cluster.

<img width="284" alt="screen shot 2018-02-08 at 12 09 35" src="https://user-images.githubusercontent.com/26749906/35995713-176ff0e6-0cc9-11e8-89c0-ca7224eae8d5.png">

[2018-02-08 21:15] samedder opened #68 "Value error when attempting to run from VS"
Running `sfctl` after installing the CLI through a Python install in VS  results in a `Value Error`

- sfctl version 3.0.0

[2018-02-22 23:57] samedder commented on #66
@likewarster please update to sfctl 4.0.0, this has support for 6.1 clusters.

[2018-02-22 23:57] #66 closed

[2018-02-22 23:58] samedder commented on #67
This has been fixed by #64

[2018-02-22 23:58] #67 closed

[2018-03-04 05:09] wminos opened #72 "sfctl conflicts with recent azure-cli"
## [Info]
- sfctl version: 4.0.0
- azure cli version: 2.0.27
- service fabric hosting location: azure

## [Reason]
two recent cli uses incompatible knack library of different version.
current sfctl cli uses knack@0.1.1
current az cli uses knack@0.3.1

## [Error]
**PS C:\Users\me> pip install sfctl**
**PS C:\Users\me> pip install azure-cli**
**PS C:\Users\me> sfctl**
Traceback (most recent call las

[2018-03-05 21:16] samedder commented on #72
@wminos as a workaround you can run either azure CLI or sfctl from a virtual environment, please take a look at the [virtualenv](https://pypi.python.org/pypi/virtualenv) package.

[2018-03-06 07:52] wminos commented on #72
I am using virtualenv. Thank you.

[2018-03-07 11:34] #72 closed

[2018-03-07 20:39] samedder opened #73 "Upgrade to latest version of `knack` package"
Right now the version of `knack` is fixed. Updating to the latest version should be done automatically.

- sfctl version 4.0.0

[2018-03-07 20:39] samedder commented on #72
@wminos I created an issue from this, #73, to make sure in the future we do upgrade the `knack` package.

[2018-03-07 23:00] ryankmcintyre commented on #72
I ran into this and created a container that loads from azure-cli and then installs tmux and uses a virtualenv to load sfctl in a separate environment loaded in a tmux pane. Now my left pane runs az and the right pane runs sfctl. In case someone else finds it useful until the knack version is fixed: [https://hub.docker.com/r/ryanmcintyre/sfctl/](https://hub.docker.com/r/ryanmcintyre/sfctl/)

[2018-03-10 09:36] wminos commented on #72
@ryankmcintyre Very cool idea. However, I mainly develop under windows environment and do not use tmux. But it would be useful in a WSL environment.

[2018-03-10 15:32] ryankmcintyre commented on #72
It could be run in Docker for Windows after switching it to Linux
containers (doesn't require WSL), but I get your point.

On Sat, Mar 10, 2018, 2:36 AM Park Minu <notifications@github.com> wrote:

[2018-03-23 18:01] drnic opened #75 "What is an example command for displaying the logs of my application/container?"
I'm new. I have deployed a silly public docker image that just prints to STDOUT every second. I'm trying to figure out how to see my SF container's logs. My searching of docs etc has failed me so I thought I'd create an issue - and perhaps I can take your answer and help write docs.

I think I understand `--node-name` (e.g. `_Node_1`) and `--application-id` (`sfctl application info --application-i

[2018-03-23 22:56] Christina-Kang commented on #73
@samedder This may create some issues, as per this from the knack documentation:

"The project is in initial development phase . We recommend pinning to at least a specific minor version when marking knack as a dependency in your project."

[2018-03-26 22:30] roshanroutray commented on #75
Please refer https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-and-service-manifests

`--node-name` and `--application-id` look fine

`--service-manifest-name` its <ServiceManifestRef ServiceManifestName="LatticeServicePkg" from ApplicationManifest.xml
`--code-package-name` its <CodePackage Name="Code" from ServiceManifest.xml

example:

[2018-03-29 16:08] talarari opened #77 "sfctl application delete error: argument --force-remove expected one argument"
getting this error when trying to delete an app:
sfctl delete application --application-id fabric:/myapp --force-remove.

this shows up on the help menu but look like its not supported? i looked up force-remove in this repo and didn't find anything.

[2018-03-29 22:35] #75 closed

[2018-03-29 23:26] Christina-Kang commented on #77
Using `--force-remove=true` should fix the issue. We will look into making this more explicit in the future :)

[2018-03-29 23:29] #77 closed

[2018-03-30 05:27] Christina-Kang commented on #22
Issue has since been fixed.

[2018-03-30 05:27] #22 closed

[2018-03-30 21:07] Christina-Kang commented on #59
Closing for now. Will re-open if there is new information.

[2018-03-30 21:07] #59 closed

[2018-04-07 20:52] fizxmike opened #81 "Error Installing Example Service"
After setting up Linux development environment for [Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux), [.NET Core](https://www.microsoft.com/net/learn/get-started/linux/ubuntu16-04) and [sfctl](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli#ubuntu-and-windows-subsystem-for-linux).

I build an Azure Sample of a Service

[2018-04-07 22:11] fizxmike commented on #81
If instead I use [this script](https://github.com/Azure/service-fabric-scripts-and-templates/blob/master/scripts/SetupServiceFabric/SetupServiceFabric.sh) to install Service Fabric and sfctl, I still get an error, but it's slightly different:
![image](https://user-images.githubusercontent.com/4626398/38460779-7fb10b1e-3a86-11e8-9bb3-5f33a24c4ee2.png)

[2018-04-09 19:11] Christina-Kang commented on #81
Hi fizxmike,

Did you run `sfctl cluster select --endpoint=<your-endpoint>` before running install.sh?

If not, can you run that and see if the error is still occurring?
If so, can you share the version of sfctl you have installed?

Thanks!

[2018-04-18 07:03] loekd opened #85 "Linux - sfctl compose - allow private container registry password"
I need to run Linux containers using images stored in a private registry. Also, I want to deploy them automatically, after every version upgrade.
For this, I need to be allowed to pass credentials to sfctl compose. There are two documented ways to provide the registry password:

interactive - I can't use this, because a daemon is deploying
encrypted - I can't use this, because I can't encrypt sett

[2018-04-26 04:03] fizxmike commented on #81
Yes! `sfctl cluster select --endpoint="http://localhost:19080"` enabled me to install the service. However, now I'm stuck with the ambiguous "Partition is below target replica or instance count." error:
![image](https://user-images.githubusercontent.com/4626398/39285211-c8fb4afa-48dc-11e8-9924-a5266e930cb6.png)
... but this is not a sfctl issue. (But if anyone could point me in the right direction

[2018-04-26 04:03] #81 closed

[2018-04-27 01:14] knom opened #90 "sfctl property list returning NULL value"
Using sfctl 4.0.0.0.

Running `sfctl property list`

Returns back
`
  "properties": [
    {
      "additionalProperties": {},
      "metadata": {
        "additionalProperties": {},
        "customTypeId": "",
        "lastModifiedUtcTimestamp": "2018-04-27T01:10:58.382000+00:00",
        "parent": "fabric:/RachelSF/Web2",
        "sequenceNumber": "56",
        "sizeInBytes": 68,
        "typeId"

[2018-04-27 18:49] mcollier opened #91 "Help option results in exception on sfctl property put"
Using `sfctl` version 4.0.0, setting the `-h` option on the `sfctl property put` command results in an error.

**Expected**
[code]

**Actual**
[code]

[2018-04-30 19:09] Christina-Kang commented on #91
Thanks for reporting! :) This issue is fixed in the up coming 5.0.0 release, which should be out shortly.

[2018-05-03 01:03] drnic opened #94 "Add v4.0.0 whl to github release"
https://github.com/Azure/service-fabric-cli/releases/tag/v4.0.0 is missing the .whl file; it was included as part of https://github.com/Azure/service-fabric-cli/releases/tag/v3.0.0

[2018-05-03 01:09] drnic commented on #94
Not critical at all; I just noticed it was added for v3.0.0 but missing from v4.0.0.

I can watch https://pypi.org/simple/sfctl/ using https://github.com/cf-platform-eng/concourse-pypi-resource if we're not going to add .whl to all github releases

[2018-05-04 20:56] Christina-Kang commented on #94
Thanks for reporting the issue! :) https://github.com/Azure/service-fabric-cli/releases/tag/v4.0.0 now has the wheel file.

[2018-05-04 20:57] #94 closed

[2018-05-11 14:56] anky2209 opened #95 "sfctl cluster select throwing SSLError"
**When trying to run below command**
sfctl cluster select --endpoint https://ankitsf.centralindia.cloudapp.azure.com:19000 --pem ./mycert.pem --no-verify

**below error is coming:**
Error occurred in request., SSLError: HTTPSConnectionPool(host='ankitsf.centralindia.cloudapp.azure.com', port=19000): Max retries exceeded with url: / (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of p

[2018-05-11 20:53] leikong commented on #95
It seems to be non-service-fabric specific:
https://github.com/osfclient/osfclient/issues/74

[2018-05-12 11:33] anky2209 commented on #95
Solved by above comment

[2018-05-12 11:33] #95 closed

[2018-05-15 19:26] knom commented on #90
Thanks @mcollier! That helped! :-) 👍

[2018-05-15 19:26] #90 closed

[2018-05-30 13:31] pruthvis commented on #85
[Expect](https://en.wikipedia.org/wiki/Expect) tool works with the interactive solution.
We are yet to found a solution for the encrypted scenario though!

[2018-05-30 23:47] #91 closed

[2018-06-01 01:01] Christina-Kang commented on #85
We will be adding an encryption function in sfctl soon. Thanks for reporting!

[2018-06-07 00:12] samedder commented on #26
@mani-ramaswamy do you have `pip` or `pip3`? Try `pip3 show sfctl`.

[2018-06-07 20:59] jeffj6123 commented on #31
Issue has been fixed.

[2018-06-07 20:59] #31 closed

[2018-06-08 22:29] Christina-Kang commented on #32
The error message being returned currently is `(FABRIC_E_APPLICATION_TYPE_ALREADY_EXISTS) Application type and version already exists` (as of version 5.0.0).

@Capotasto Sorry for missing your post earlier! The issue should have been fixed for a while; can you update to the latest version (5.0.0) and see if that fixes your issue? If not, please re-open this or create a new issue and tag me. Thanks

[2018-06-08 22:29] #32 closed

[2018-06-08 23:57] #6 closed

[2018-06-09 00:01] Christina-Kang commented on #54
The command `sfctl cluster show-connection` has been added to display the connection string. Nothing is returned if no connection endpoint is found. Thanks!

[2018-06-09 00:01] #54 closed

[2018-06-09 00:06] Christina-Kang commented on #36
Issue has been fixed. Thanks!

[2018-06-09 00:06] #36 closed

[2018-06-11 14:54] Lybecker opened #106 "Feature request: sfctl logs ..."
Having to pipe ETW events from Service Fabric and user application to storage, OMS or AppInsights is tedious. It should be possible to query the logs via sfctl like it is with Docker and Kubernetes (kubeclt logs …)
The logs capacity storage could be limited by time or storage.

It should be able to query at partition and service type level

[2018-06-12 17:33] Lybecker commented on #106
Related to https://github.com/Microsoft/service-fabric/issues/148

[2018-06-14 02:03] venkatnossam opened #107 "sfctl application provision --no-wait --application-type-build-path Debug throwing me an error: (E_INVALIDARG) Invalid argument Traceback (most recent call last): File "~\appdata\local\programs\python\python36-32\lib\site-packa ges\knack\cli.py", line 125, in invoke cmd_result = self.invocation.execute(args) ~\appdata\local\programs\python\python36-32\lib\site-packa ges\sfctl\custom_app_type.py", line 119, in provision_application_type"
When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [x ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error is present (can be captured using `--debug` flag)

Be sure to check if an issue already exists with your symptoms. If so, leave a `:th

[2018-06-14 02:04] venkatnossam commented on #107
Could anybody have any idea?

[2018-06-14 02:54] samedder commented on #107
@venkatnossam can you edit the title and body of your issue to include the debug logs, as it stands its difficult to identify what your issue is. Can you please actually fill out the issue template?

[2018-06-14 10:10] venkatnossam commented on #107
i ran the following command successfully:

sfctl application upload --path ~\Application\pkg\Debug --show-progress

Upload complete

when i run the following command:

sfctl application provision --no-wait --application-type-build-path Debug

I am getting this error
(E_INVALIDARG) Invalid argument
Traceback (most recent call last):
  File "c:\users\venoss\appdata\local\programs\python\python36-32\

[2018-06-14 10:12] venkatnossam commented on #107
pip show sfctl
Name: sfctl
Version: 5.0.0
Summary: Azure Service Fabric command line
Home-page: https://github.com/Azure/service-fabric-cli
Author: Microsoft Corporation
Author-email: sfpythoncli@microsoft.com
License: MIT
Location: c:\users\venoss\appdata\local\programs\python\python36-32\lib\site-packages
Requires: adal, jsonpickle, requests, knack, msrestazure, future, msrest, azure-servicefabr

[2018-06-14 18:22] samedder commented on #107
@venkatnossam what is the runtime version of you Service Fabric cluster?

[2018-06-15 18:05] Christina-Kang commented on #106
Thanks for the link and suggestion! We will look into adding this in the future.

[2018-06-15 20:04] venkatnossam commented on #107
This is what i see:
6.1.456.9494 7/15/2018 12:00:00 AM https://download.microsoft.com/download/B/0/B/B0BCCAC5-65AA-4BE3-AB13-D5FF5890F4B...
6.1.467.9494 7/15/2018 12:00:00 AM https://download.microsoft.com/download/B/0/B/B0BCCAC5-65AA-4BE3-AB13-D5FF5890F4B...
6.1.472.9494 7/15/2018 12:00:00 AM https://download.microsoft.com/download/B/0/B/B0BCCAC5-65AA-4BE3-AB13-D5FF5890F4B...
6.1.480.9494 7/15/20

[2018-06-15 20:07] samedder commented on #107
@venkatnossam it should be a property of the cluster, if you look at your Service Fabric cluster in the Azure Portal, it should have an entry for `Service Fabric Version`

[2018-06-17 14:46] venkatnossam commented on #107
service fabric version: 6.2.283.9494

[2018-06-18 18:31] Christina-Kang commented on #107
I suspect that this might be an issue with the way that we are serializing the body parameters. Would it be possible for you to provide a capture of the outgoing HTTP POST request from calling the sfctl command? Could you also share the version of msrest you have installed?

In the meantime, to unblock you, you can provision with the REST API for [provision application](https://docs.microsoft.com/

[2018-07-18 19:10] no1melman opened #109 "Fresh CLI install failed"
I'm following this:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli#install-pip-python-and-the-service-fabric-cli

I got python installed ran versions check, then tried to install sfctl:

[2018-07-18 22:07] Christina-Kang commented on #109
It seems that there is some issue with python 3.7. Can you try python 3.6 as a mitigation? If that doesn't work, please let me know. Thanks!

[2018-07-19 07:12] no1melman commented on #109
Oh okay, I will give that a try tonight thanks.

[2018-07-19 17:56] #109 closed

[2018-07-19 17:57] no1melman opened #110 "DNS Issue (fabric v6.1) and unrelated cluster start up issue."
Using the localhost cluster. I've done a health check output:

[code]

I've got issues with the DNS, how do I go about diagnosing it further and fixing it?

[2018-07-19 23:47] Christina-Kang commented on #110
Could you share the cluster manifest please, making sure to remove any sensitive information. And what version of service fabric is your cluster? Thanks!

[2018-07-20 21:33] no1melman commented on #110
Fabric Version: 6.1.480.9494

    <Section Name="DnsService">
      <Parameter Name="InstanceCount" Value="1" />
      <Parameter Name="IsEnabled" Value="True" />
    </Section>

[2018-07-20 23:15] no1melman commented on #110
I get this error:

[2018-07-20 23:15] no1melman commented on #110
https://github.com/Azure/service-fabric-issues/issues/803

[2018-07-20 23:47] Christina-Kang commented on #110
Are you able to upgrade the cluster to a newer version? This is a known issue which has been fixed in newer releases (6.2 and up). If you are not able to update, you can use the mitigation with ICS mentioned in the thread. This issue will also not appear in cloud clusters, it shows up only in local clusters. Please let me know if you run into issues applying those mitigations. Thanks!

[2018-07-23 21:15] no1melman commented on #110
I've updated - now I am unable to start my cluster... where can I got to find the logs for the reason why, the `c:\sfcluster` only has etl logs which I have no way of understanding....

[2018-07-24 15:14] no1melman commented on #110
My manifest now:

[code]

[2018-07-25 23:21] Christina-Kang commented on #110
Unfortunately, it's hard to tell just from that. Can you repro the issue and upload your trace (.etl) file from c:\sfcluster? Before uploading, run `logman update FabricTraces -fd -ets` to update the traces.

For the local clusters, I've found that re-installing msi and then creating a new cluster or rebooting the machine sometimes helps, if you have no data you want to keep.

Thanks!

[2018-07-26 17:15] Christina-Kang commented on #110
You can upload it to here or provide a link I can download it from.

[2018-07-27 02:18] MedAnd opened #112 "sfctl upload and provision commands on Linux folder clean-up"
Running the generated install.sh using the VS Code Service Fabric plugin, I noticed sfctl upload & provision commands are used on Linux but seems folders are not being cleaned-up on failed deployments.

For example looking at the cluster location path(s):

- /home/sfuser/sfdevcluster/data/ImageBuilderProxy/App
- /home/sfuser/sfdevcluster/data/ImageBuilderProxy/AppType

I notice these folders are n

[2018-07-27 16:43] suhuruli commented on #112
@Christina-Kang

[2018-07-27 16:56] no1melman commented on #110
[Log.zip](https://github.com/Microsoft/service-fabric-cli/files/2236587/Log.zip)

[2018-07-27 17:03] Christina-Kang commented on #110
Thanks for the logs.

The nodes are unable to come up with error access denied because there is some issue with the certificate. I will update this post with more details / a fix in a bit.

[2018-07-27 17:05] no1melman commented on #110
Cheers much appreciated

[2018-07-27 17:38] Christina-Kang commented on #110
Thanks for your patience :) How did you deploy this cluster (including the upgrade)?

The specific error is this: "CertCreateSelfSignCertificate failed: E_ACCESSDENIED"

From an elevated PowerShell instance, can you run the following command?

`(Get-Acl -Path ($env:ProgramData+'\Microsoft\Crypto\rsa\MachineKeys\')).Access`

It should list at least these 2 entries:
	- NT Authority\Network Service:

[2018-07-27 20:30] no1melman commented on #110
I just used web platform installer to install it

[2018-07-27 20:40] no1melman commented on #110
[Log.zip](https://github.com/Microsoft/service-fabric-cli/files/2237175/Log.zip)

[2018-07-27 20:42] no1melman commented on #110
still not worked out

[2018-07-27 23:30] Christina-Kang commented on #112
Thanks for the feedback! There is a distinction between where the data you upload is stored, and the folder locations used by service fabric for provisioning purposes. /home/sfuser/sfdevcluster/data/ImageBuilderProxy/* is used internally, and its cleanup after some failure may be delayed while waiting on a timer, and who's operations should be transparent to the user. The data which you have uploa

[2018-07-27 23:48] Christina-Kang commented on #110
Can you provide the output from the command `(Get-Acl -Path ($env:ProgramData+'\Microsoft\Crypto\rsa\MachineKeys\')).Access` from earlier?

Thanks!

[2018-07-28 19:32] no1melman commented on #110
[code]

[2018-07-29 08:48] MedAnd commented on #112
Hi @Christina-Kang, appreciate the clarification. Not sure if my issue is a bug or not through.. so just to clarify in more detail:

1. Create a demo solution called Demo, which packages down into 500 files (dlls etc)
2. Convert an existing Windows solution with three projects "ALSO" called Demo, which packages down into 800 files (dlls etc)
3. On Ubuntu Linux first deploy the larger Demo (800 fil

[2018-07-30 17:33] Christina-Kang commented on #110
Thanks for the output!

Looks like the network service doesn’t have access, there should be an entry like this:

[code]

Can you try running the following?

[code]

This modifies the first line of the commands from earlier.

[2018-07-30 17:33] suhuruli commented on #112
@MedAnd the install.sh script is a wrapper around three separate SF CLI commands. I believe the initial installation is failing at the provision command (which we should investigate anyway) but the upload to the image store was successful. In order to next install the second one, you need to run the command to delete contents of the image store.

[2018-07-30 17:35] suhuruli commented on #112
@MedAnd as a separate discussion point, I notice you have been playing and opening a lot of issues around the developer experience on Linux and mac using our new tooling. If you are interested, we can chat on a call about your specific issues :) We love feedback like this and will actively make fixes asap

[2018-07-30 21:07] no1melman commented on #110
I got this output now:

[code]

[2018-07-30 21:08] no1melman commented on #110
no luck with creating a 5 node cluster
[Log.zip](https://github.com/Microsoft/service-fabric-cli/files/2242907/Log.zip)

[2018-07-30 21:14] Christina-Kang commented on #110
In good news, it looks like the cert issue is gone! This looks like a firewall issue potentially. I will get in touch with the correct people for this error and get back to you. Thanks!

[2018-07-30 23:32] MedAnd commented on #112
@suhuruli - what's the best way to setup above discussion?

[2018-07-30 23:52] MedAnd commented on #112
Happy to provide feedback & understand the point about install.sh being a wrapper but not sure the current behaviour is expected... or rather when deployment via powershell fails on Windows I usually do not have to clean-up anything... the powershell way feels more atomic while the linux experience requires me to know I have to compensate for a failed deployment if that makes sense?

[2018-07-31 17:05] Christina-Kang commented on #110
Some of these traces look pretty old. Can you try cleaning the cluster and re-deploying? You can also try uninstalling and reinstalling (maybe rebooting if possible, but you should not need to). If it still doesn't work after that, can you re-upload the traces again? The traces should be up to date then. Thanks!

[2018-07-31 20:53] suhuruli commented on #112
- You can email me @ suhuruli@microsoft.com.
- Yes, this problem is one that makes sense. The way PowerShell is implemented and done on Windows is a little different than SFCTL (which does REST calls). One consideration is that we remove the install.sh script and just force people to do the three separate commands.

[2018-07-31 21:26] no1melman commented on #110
So I can't extract those logs any more. I had to force delete the sfcluster folder because something had removed access from me. I had to reboot in safe mode and delete the directory. Now when I try and zip up the folder using shell zip or zip using 7z it just says access denied on everything. So I'm not sure what is causing that, but it ain't helping

[2018-08-01 12:10] MedAnd commented on #112
Have sent you an email @suhuruli...

Re above though, wondering how feasible would it be to support PowerShell Core on Linux as a deployment process? For example if we could keep the current VS 2017 project & folder structure cross platform... (with tooling in VS Code off-course)... could PowerShell Core on Linux be used to port the Windows PowerShell Service Fabric deployment process?

This way w

[2018-08-01 20:28] suhuruli commented on #112
I see, this is an option. We do not have any plans to investigate PowerShell Core on Linux tooling. The uber point that you are making of portability of projects created in VS 2017 onto VSCode is one that we will definitely try our best to make easy.

[2018-08-05 13:48] MedAnd commented on #112
I was hoping PowerShell Core on Linux would facilitate the same deployment experience as Service Fabric on Windows (less failure compensation)... but if sfctl is preferable cross-platform I think the current approach might need some tweaking...

Out of interest what is the correct way of cleaning up a failed deployment... for example:

`sfctl application upload --path`

the command copies a Servic

[2018-08-09 10:24] talarari opened #118 "ICommunicationListener.CloseAsync not called on replica removed when force-remove=false"
I'm trying to issue a sfctl replica remove command to *gracefully* restart my stateless service process.
when using this command:
[code]
ICommunicationListener.CloseAsync is not called and instead ICommunicationListener.Abort is called.

when using the force-remove=false flag neither the ICommunicationListener.Abort nor the ICommunicationListener.CloseAsync functions get called.

What is the expec

[2018-08-13 20:01] abhishekram commented on #118
Why are you trying to do this? Is this for testing or some other reason?

[2018-08-14 07:47] no1melman commented on #110
Yeah, it just isn't working, I've updated service fabric, reinstalled, rebooted, set the permissions as you said. What I found out is that the folder mentioned above just locks up and I can't remove it

[2018-08-14 21:06] Christina-Kang commented on #110
Are you trying to delete/move the log files while the cluster is running? Can you check if FabricHostSvc is running when you get permission denied? If so, then can you stop FabricHostSvc and then Fabric.exe (if any)? Afterwards, can you try again to see if you can get the log files?

[2018-08-15 12:41] MedAnd commented on #112
@suhuruli  - within the .sh scripts, could the result of "sfctl application provision" be use to determine if a "sfctl store delete --content-path" automatically needs to be done... that way it would appear as if deployment were an atomic operation or would this be dangerous?

PS. Happy to close this issue as the current approach on Linux seems to be by design, hoping it can be tweaked at some sta

[2018-08-15 16:58] suhuruli commented on #112
Hi @MedAnd,

I think this would be possible if we returned some sort of meaningful message in the first request. This would require some custom scripts.

@Christina-Kang , what say you on this?

Thanks,
Sudhanva

[2018-08-16 19:17] Christina-Kang commented on #112
Hi @MedAnd,

Provision application, including as part of the .sh script, does not do clean up by design, since service fabric doesn't know if the user will want the application packages again, even after a failed deployment. For example, if a single file is causing the error, instead of deleting and starting over again, a single file can be replaced instead. In both PowerShell and Linux, clean up

[2018-08-17 00:35] abhishekram commented on #118
Also wanted to add that the behavior you saw is expected.
For graceful restart of your service process, there is no direct command that does it.

One option is to trigger an application upgrade with the --force-restart option, which will result in graceful restart of your processes one upgrade domain at a time. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-sfctl-application#

[2018-08-17 14:53] MedAnd commented on #112
Hi @Christina-Kang, appreciate the ability to provide feedback... with PowerShell and VS 2017 on Windows, as a developer I do not need to delete a failed deployment. That is, I make the necessary changes and publish again from VS 2017.

On Linux though, using sfctl + VS code, I have to explicitly issues a "sfctl store delete --content-path" or run the uninstall script for a failed install.sh attem

[2018-08-20 09:45] anantshankar17 commented on #112
Thanks for the feedback. We will fix this to make the behavior consistent across platforms/tools.

[2018-08-21 21:19] no1melman commented on #110
[Log.zip](https://github.com/Microsoft/service-fabric-cli/files/2308100/Log.zip)

[2018-08-24 16:50] Christina-Kang commented on #110
It's the same certificate issue. Can you run `(Get-Acl -Path ($env:ProgramData+'\Microsoft\Crypto\rsa\MachineKeys\')).Access` (from an admin PowerShell) again to make sure that permissions have not been removed, possibly from a domain policy. If it has not been, then let's set up a time to chat offline and get the cluster up and running.

Thanks!

[2018-09-04 07:13] paolosalvatori commented on #65
Is there any way to eliminate the warning? It's very annoying, thanks

[2018-09-06 17:45] Christina-Kang commented on #65
Thank you for the feedback, @paolosalvatori ! We can look into an option to suppress the warnings when explicitly requested.

@suhuruli for visibility

[2018-09-06 18:54] samedder commented on #65
The warning is meant to be annoying. It's also not coming from our CLI, but a warning from the underlying SSL library. It is meant to warn you. One option is to start securing your cluster with certificates that are trusted by the root CA bundle.
________________________________
From: Christina Kang - MSFT <notifications@github.com>
Sent: Thursday, September 6, 2018 10:45
To: Microsoft/service-fab

[2018-09-06 20:46] suhuruli commented on #65
There are two good pieces of feedback on this thread.

1) @rganz, brought up a good point of having a message letting users know the connection was successful.

2) @paolosalvatori, your point of getting rid of that warning is valid. Instead of spamming the user's terminal, we can just display the warning once and then not show it for future commands.

[2018-09-20 10:05] dnataraj commented on #107
I have the same issue

`**sfctl application provision --application-type-build-path sfchat**

(E_INVALIDARG) Invalid argument
Traceback (most recent call last):
  File "/home/dnataraj/.local/lib/python3.5/site-packages/knack/cli.py", line 125, in invoke
    cmd_result = self.invocation.execute(args)
  File "/home/dnataraj/.local/lib/python3.5/site-packages/knack/invocation.py", line 85, in execute

[2018-09-20 18:53] Christina-Kang commented on #107
Thank you for reporting this, @dnataraj , and apologies that you're running into this issue.

Does the mitigation provided above work for you? (using REST or PowerShell)

In the mean time, we would very much appreciate your help in getting to the bottom of this issue. Can you provide the output / version from `pip3 show msrest`? Additionally, can you provide a capture of the outgoing HTTP request

[2018-09-21 07:16] dnataraj commented on #107
Hi @Christina-Kang, I'm on Ubuntu 16.04, and Powershell for Linux does not have the SF SDK, so I can't use that work around (or does it?). I haven't tried hitting the REST API, would you have an example of the provisioning payload at hand?

Here is the output from msrest  :

`
Metadata-Version: 2.1
Name: msrest
Version: 0.5.5
Summary: AutoRest swagger generator Python client runtime.
Home-page: ht

[2018-09-25 21:08] Christina-Kang commented on #107
@dnataraj to make the REST call, I use either [Postman](https://www.getpostman.com/) or [Advanced REST Client](https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo?hl=en-US).

The URL of the HTTPS POST request will look like this:

`https://<your-URL>:<your-port-usually-19080>/ApplicationTypes/$/Provision?api-version=6.2`

The body will look like:
[code]

[2018-09-25 22:39] Christina-Kang commented on #107
@dnataraj I have attached a whl for sfctl which will create a file called `application_provision_request.json` at the file location you run `sfctl application provision --application-type-build-path app`.

There should be a portion which looks like `"body": "{\"Kind\": \"ImageStorePath\", \"Async\": false, \"ApplicationTypeBuildPath\": \"app\"}"`. Can you share that? Can you also share the `uri` p

[2018-09-26 08:18] no1melman commented on #110
@Christina-Kang can we set up some time to get this cluster running - it still all looks good my end...

[2018-09-26 18:00] Christina-Kang commented on #110
Sounds good. Can you send me an email at bikang@microsoft.com? Thanks!

[2018-10-04 19:11] Christina-Kang commented on #110
Thank you @no1melman for your time working with us on this!

The below work around applies to Windows.

The start up issue was with network service losing permission after it being set, due to a reason unknown. While running the PowerShell commands did not work in this instance, going to the directory `C:\ProgramData\Microsoft\Crypto\RSA` and changing permissions for the folder `MachineKeys` allow

[2018-10-04 19:11] #110 closed

[2018-10-08 19:08] daviddob opened #127 "`c_rehash` must be run on CA Cert Folder"
When reporting a new issue include the following information:

- [x] `sfctl` version, can check this using `pip show sfctl`
[code]
- [x] Service Fabric cluster runtime version
[code]
- [x] Service Fabric hosting location (on-premise or Azure usually)
[code]
- [x] Debug log if an error is present (can be captured using `--debug` flag)
[code]
Be sure to check if an issue already exists with your sym

[2018-10-10 19:02] samedder commented on #73
@IgnatiusFlo if you'd like to work on it you're more than welcome to.

[2018-10-11 12:57] markylon commented on #2
Would you like me to add flake8 and make some requirements-dev.txt?

[2018-10-11 18:38] Christina-Kang commented on #2
Adding flake8 would be amazing, thank you!
What would go into requirements-dev.txt?

Thanks!
Christina

[2018-10-15 20:59] echen805 commented on #27
@samedder, is it okay if I take this up? It looks like there's inconsistency between sfctl.custom_app.create and sfctl.custom_app.upgrade but thats the only one I've encountered

[2018-10-16 18:08] Christina-Kang commented on #27
@echen805 for sure! We would very much appreciate it! :)

[2018-10-17 00:06] Christina-Kang commented on #127
Thank you so much, @daviddob for pointing this issue out to us and for updating the documentation for this issue! Very much appreciated!

The documentation will be updated in the upcoming release, and we will look into making the requirement more clear in other places as well.

[2018-10-17 05:01] echen805 commented on #27
Great! So it looks like the functions that require application_id, do not want "fabric:/" in their value since the function automatically adds it at the beginning.

I looked through the contribution wiki and I did not see any ideas of which way I should go with this. Should I change parameter to application_name so future users will use a value with "fabric:/" in front? And make it backwards compa

[2018-10-17 19:10] #127 closed

[2018-10-23 20:37] chriskuech opened #143 "'pip install sfctl' fails with python 3.7 (latest)"
sfctl installation fails with python 3.7 but the [installation instructions](https://github.com/Microsoft/service-fabric-cli) don't mention any python version limitations.  #109 was reported for this issue but closed by the author without resolution.

[2018-10-23 23:07] #143 closed

[2018-10-24 18:49] Christina-Kang opened #145 "Add option to allow connecting to a specific node"
When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [ ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error is present (can be captured using `--debug` flag)

Be sure to check if an issue already exists with your symptoms. If so, leave a `:thu

[2018-11-06 18:49] Christina-Kang commented on #73
Closing the issue since knack is not backwards compatible between versions, and may introduce breaking changes since it is still in the initial development stage. Similarly, sfctl will soon take a dependency on a change specific to a patch rather than a minor version, so setting a specified version is the best course of action until version 1.0.0 is released.

[2018-11-06 18:49] #73 closed

[2018-11-06 18:54] Christina-Kang commented on #26
PR #104 adds this functionality. Use `sfctl -v` or `sfctl --version` for output on sfctl version, python version, OS, and python location.

[2018-11-06 18:54] #26 closed

[2018-11-12 15:07] gustafcarleson opened #153 "sfctl property put doesn't register value"
Hi

I'm trying to use sfctl to set a property. It registers but the value is null. Why?

using sfctl:

`sfctl property put --name-id "MyApp" --property-name "fun.property" --value "{\"Kind\": \"String\", \"Data\": \"asdf\"}"`

Result:

[code]

-----------

sfctl version: 6.0.0
cluster runtime version: 6.3.187.9494
cluster location: Azure
log:

Command arguments: ['property', '--verbose', 'put', '-

[2018-11-12 15:32] IsaackRasmussen opened #154 "sfctl application upload completes but app not visible"
sfctl version 6.0.0
Cluster: 6.3.187.9494
Hosted: On premise, Windows server 2016

I'm trying to install Traefik on my cluster but when executing the upload:
 sfctl application upload --path Traefik/ApplicationPackageRoot --show-progress --debug
It appears to complete just fine but it never shows up in Service Fabric Explorer.

How do I diagnose further as to what went wrong?

-- Debug output
Comm

[2018-11-13 00:50] Christina-Kang commented on #154
`sfctl application upload` puts it in the image store only, and does not actually provision the application type, which is why you won't see it in Service Fabric Explorer. You can try provisioning the application type first, and only checking that the upload is correct if you hit an error and rule out mistakes in the app package. The upload step does not do any validation, so if provisioning fails

[2018-11-15 02:21] Christina-Kang opened #156 "sfctl sa-cluster config-upgrade returns invalid argument"
See https://github.com/MicrosoftDocs/azure-docs/issues/18835

When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [ ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error is present (can be captured using `--debug` flag)

Be sure to check if an

[2018-11-15 03:03] Christina-Kang commented on #153
@gustafcarleson Thank you for reporting this! It seems like a possible bug on our end. I will investigate and follow up on this thread soon. Sorry for the inconvenience.

[2018-11-15 04:35] krvladislav commented on #156
"P0D" is valid representation of duration by ISO 8601, maybe problem is in SF REST API.

As a workaround I pass own 1 second timeout, but I don't understand real difference under the hood with default value.

$timeout = "PT1S"
sfctl sa-cluster config-upgrade --cluster-config $clusterConfiguration --health-check-retry $timeout --health-check-wait $timeout  --health-check-stable $timeout  --upgrade-

[2018-11-15 08:21] gustafcarleson commented on #153
How embarrassing, yes, I omitted the include values option. Thank you.

[2018-11-15 18:36] Christina-Kang commented on #153
Glad it's working! Closing the issue.

[2018-11-15 18:36] #153 closed

[2018-11-15 18:38] Christina-Kang commented on #154
@IsaackRasmussen I am closing this issue. Please let me know and reopen the issue if provisioning does not work. Thanks!

[2018-11-15 18:38] #154 closed

[2018-11-29 12:27] binishababu opened #160 "sfcli - not able to connect to cluster"
When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl` - 6.2.0
- [ ] Service Fabric cluster runtime version - 6.3.187.9494
- [ ] Service Fabric hosting location - Azure
- [ ] Debug log if an error is present (can be captured using `--debug` flag)
 - Python version - Python 3.6.7
- Pip Version : pip 10.0.1
Be sure to check if an i

[2018-12-03 18:58] Christina-Kang commented on #160
@binishababu, thanks for reporting!

It looks like there is an issue with your pem file.

`OpenSSL.SSL.Error: [('PEM routines', 'PEM_read_bio', 'no start line'), ('SSL routines', 'use_certificate_chain_file', 'PEM lib')]`

If you've checked that the file is correct, let me know and we can look into this further.

[2018-12-06 21:25] alex4o opened #165 "E_ABORT"
When reporting a new issue include the following information:

- [6.0.0 ] `sfctl` version, can check this using `pip show sfctl`

- [ 6.4.625, latest from docker hub ] Service Fabric cluster runtime version
- [ docker sfonebox ] Service Fabric hosting location (on-premise or Azure usually)
[code]
Debug log if an error is present (can be captured using `--debug` flag)
I tried everything to upload b

[2018-12-06 22:33] Christina-Kang commented on #165
Hi @alex4o,

Thank you for reporting this issue. To help us diagnose, can you send us the traces from your local cluster and the approximate time (including timezone) of when you ran the upload command? You can email me the traces at bikang@microsoft.com, or you can upload them on here. They are located at `/mnt/sfuser/log/lttng-traces` or `/mnt/sfroot`. The files should be either `.etl` or `.trac

[2018-12-07 17:00] alex4o commented on #165
I hope these helps. I have used the TraceProcessor.sh to get the trace file. The time should be around 16:30 utc. I m not sure that this repo is the right place to report. Because I also tried doing this:
[code]
So it is possible that it is a problem with service fabric itself.
[trace.zip](https://github.com/Microsoft/service-fabric-cli/files/2658120/trace.zip)

[2018-12-07 23:30] Christina-Kang commented on #165
@alex4o can you try running the following in order?

[code]

Give this a shot, and if doesn't work (for both the upload and the GET), could you share the traces again? Thanks!

[2018-12-09 12:07] alex4o commented on #165
I tried the commands that you have suggested, but as I am doing this in a docker container I don't have systemd(systemctl), so i just ran the the `./run.sh` provided by the official docker image. It did not work.
[traces.7z.gz](https://github.com/Microsoft/service-fabric-cli/files/2660495/traces1.7z.gz)

[2018-12-11 21:29] #160 closed, assigned to nobody

[2018-12-12 10:18] talarari opened #168 "sfctl does not support compression when uploading application to image stro"
Our sfctl application upload command takes around 20 minutes, i see compression is supported in powershell but not in sfctl, why is that?

[2018-12-12 11:44] talarari commented on #168
also trying pre-compressing the app with powershell and then using sfctl to upload and it seems like it uncompressed the package?
[code]

as you can see Code.zip and Config.zip are there, but then there are all the dll files in Code folder, which i assume come from the command unpacking the Code.zip file.

is there anyway of uploading a compressed package with sfctl?

[2018-12-12 13:59] MedAnd commented on #112
Hi @suhuruli, nice to see alignment across platforms using PowerShell Core but wondering if-when the 2nd part is coming, which will re-align the VS 2017 project & folder structures to be the same across platforms?

[2018-12-12 20:35] talarari commented on #168
apparently i had old files cached in the CI machine, i am now getting a different error:
FABRIC_E_IMAGEBUILDER_UNEXPECTED_ERROR: The file 'D:\SvcFab\ImageBuilderProxy\AppType\230d4d35-6cbb-43c2-99a6-7fb65881e14f\Felix.ApiPkg\Config\Settings.xml' already exists.
although the file only exists once in the package

[2018-12-12 23:06] Christina-Kang commented on #168
@talarari can you share which command in sfctl you are running to get the error FABRIC_E_IMAGEBUILDER_UNEXPECTED_ERROR? Is it sfctl application upload?

Can you share the output with the --debug option on? Are you uploading to the native image store, or are you providing a custom imagestore-string? What sfctl and cluster version are you using?

There is no current workaround for uploading a compre

[2018-12-14 15:44] suhuruli commented on #112
Hey, you're referring to VS and VSCode project structures being compatible? This work will land soon. The first part we are working on is ensuring that SF Mesh in VS and VSCode are in sync. Following this, we will ensure compatibility between the plugins for Reliable Services.

[2018-12-14 15:47] suhuruli commented on #168
@talarari, plans to add compression is in the pipeline.

Currently, the compression is only available in the PowerShell module that we have available on [Windows that ships with the SDK](https://docs.microsoft.com/en-us/powershell/module/servicefabric/copy-servicefabricapplicationpackage?view=azureservicefabricps). This functionality along with a host of others will need to be extended to all the

[2018-12-15 13:57] MedAnd commented on #112
Nice... so the vision of taking a SF project built in VS on Windows & compiling in VSCode on Linux is coming... any rough ETAs ☺️

[2018-12-18 20:59] samedder opened #169 "Verify correct cypher suites used by requests"
In order to comply with security standards we should verify the following is true for all API calls performed by the SF CLI:

- TLS1.2 must be enabled
- SSL V2 and V3 must be disabled

This is tracked by MS-Internal work item 14143351

[2018-12-19 10:03] Liamdelee opened #171 ""(E_INVALIDARG) Invalid argument" sfctl compose create"
When reporting a new issue include the following information:

sfctl verion: 7.0.1
service Fabric Cluster runtime version: 6.4.625.1
service Fabric Cluster OS: ubuntuServer 16.04-LTS
Service Fabric hosting location: Azure
Debug log:
[code]

I want to compose my docker image to the service fabric cluster but i get the above error.
HOWEVER, when i do it manually inside of service fabric and do "crea

[2018-12-20 01:08] Christina-Kang commented on #171
Hi @Liamdelee

Since connecting to this endpoint, have any sfctl commands worked for you? Is this the first you've tried since connecting?

From the looks of things, an extra "Explorer" is being appended to the HTTP request, which is causing it to return INVALID_ARGUMENT. It's possible that the endpoint you've set has that appended at the end. You can check this by using `sfctl cluster show-connec

[2018-12-20 07:10] Liamdelee commented on #171
Hi @Christina-Kang

I had explorer appended after the url with the select that i found as an example on the internet.
Thanks for your help!
And have great holidays!

Best regards
Liam

[2018-12-20 07:10] #171 closed

[2018-12-20 19:50] Christina-Kang commented on #171
Glad to hear it's working now, and happy holidays to you as well!

[2019-01-09 01:37] gheibia opened #175 "Using "--no-verify" still getting "CERTIFICATE_VERIFY_FAILED" error"
- Using Version 7.0.2 of CLI on Mac (`pip3 show sfctl`)
- Cluster version: 6.4.622.9590 hosted on Azure

Using a self signed client cert, the following command fails with:

[code]

Command:

[code]

I was under the impression that `--no-verify` will skip the certificate verification step.

[2019-01-10 17:43] prasadker commented on #175
@samedder

[2019-01-10 18:43] gheibia commented on #175
To add a bit more information here:

The same cert works well with Powershell (on Windows) and directly OpenSsl (on both Mac and Windows):

[code]
Connects successfully (the first Thumbprint is the cluster's cert and the 2nd one is the my client cert which is added to the cluster as an admin and also has "keyCertSig" bit set on it).

[code]

Successfully opens a session and I can send a HTTP reque

[2019-01-11 23:17] Christina-Kang commented on #175
@gheibia Thanks for reporting the issue!

Does `sfctl cluster select` also fail when using the pem file rather than the key and crt combo?

Verification should not be happening. Can you share the full error message from the command, with `--debug`, blocking out any sensitive information? You can also email me at bikang@microsoft.com with the full error message instead. Thank you!

[2019-01-12 18:58] gheibia commented on #175
@Christina-Kang yes, it fails with PEM files, as well. I'll email you the log directly.

[2019-01-15 18:40] gheibia commented on #175
For anyone who lands here for an answer, as a workaround, one could call Service Fabric APIs directly through, say, cUrl:

See https://stackoverflow.com/questions/54089465/add-custom-header-to-all-responses-from-traefik-on-azures-service-fabric

[2019-01-24 22:11] jfalameda commented on #168
Is there still no way to upload a packaged app? I am working from a Mac and it takes a long time to upload an app file by file.

Thanks.

[2019-01-25 13:56] jfalameda opened #177 "Timeout on provision"
I am deploying a very large application. I get a timeout on provision, any tips?

OS: Mac OXS. Service fabric on docker, latest version.

`Command arguments: ['application', 'provision', '--application-type-build-path', 'DHCloud', '--timeout', '1000000', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x1014632f0>, <func

[2019-01-28 19:09] Christina-Kang commented on #168
Hi @jfalameda you can upload a directory at a time, just uncompressed. It would recursively go through the sub-folders. Would that help your use case? Or do you mean that you are hitting a timeout issue?

Thanks!
Christina

[2019-01-28 20:42] Christina-Kang commented on #177
Hi @jfalameda, sorry to hear that you're running into this issue. To help us debug, can you share the output from running this command with the --debug option? Could you also share the cluster traces and the approximate time at which you ran the provision command? The traces would be in /etc/servicefabric/FabricDataRoot. Thanks!

[2019-02-06 15:07] jfalameda commented on #168
@Christina-Kang Thanks, is this something planned on the roadmap? Thanks.

[2019-02-06 15:58] jfalameda commented on #177
Of course,

These are the traces:

`sfctl application provision --application-type-build-path DHCloud --debug
Command arguments: ['application', 'provision', '--application-type-build-path', 'DHCloud', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x10986f2f0>, <function OutputProducer.on_global_arguments at 0x1098d56a

[2019-02-06 16:45] jfalameda commented on #177
It seems that the provision is taking more than 6 seconds and the timeout for the call to provision is only 60 seconds.

You can download the tracing from here:

https://drive.google.com/file/d/17cAPVzd6v3v7PULhgxyN2_h4SSGRIMmL/view?usp=sharing

Kind Regards,
/ José.

[2019-02-06 23:49] Christina-Kang opened #180 "Update knack"
Update to the latest (v6.0+) when it comes out

[2019-02-06 23:50] Christina-Kang commented on #168
@jfalameda, yes, it is on the road map, though we do not yet have a specific date. A fix for the provision timeout issue is coming very soon though!

[2019-02-07 10:01] jfalameda commented on #168
@Christina-Kang Thanks!

[2019-02-07 20:19] Christina-Kang commented on #177
Hi @jfalameda,

Thanks for your patience! It looks like the actual timeout duration is not the issue here, but rather, an issue with permissions, which holds up the operation until it eventually times out.

Issue is with certain folders not being ACLed correctly. From your traces, it looks like the source is this:
`/home/ClusterDeployer/ClusterData/Data/N0030/Fabric/work/Applications/__FabricSyste

[2019-02-07 21:49] Christina-Kang commented on #180
Same with sfmergeutil

[2019-02-07 23:26] jfalameda commented on #177
Hi @Christina-Kang ,

I can see the application provisioning now. I still get the timeout error as the application takes a lot of time to provision.

It is weird that I need to fix permission, as I am using the docker based service fabric on a mac.

Thanks.

Kind Regards,
/ José.

[2019-02-08 01:03] Christina-Kang commented on #177
Hi @jfalameda,

Is it timing out with the same error / stack as posted above still? Where the timeout is 100 for read timeouts, rather than the passed in time out.

Thanks!

[2019-02-14 15:13] jfalameda commented on #177
Hi @Christina-Kang ,

Yes, the application times out the same way. I can see on SF that the application is still provisioning. The error that I am seeing is the application disappears when the provisioning is done without any error, therefore I cannot publish it.

Kind Regards,
/ José.

[2019-02-14 22:31] Christina-Kang opened #182 "Incorrect error message given is sudo is not provided"
operations sometimes gives connection/endpoint not found on linux if not running with sudo, even though there is a connection present.

When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [ ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error

[2019-02-22 08:46] jfalameda commented on #177
Hi @Christina-Kang

Unfortunately 7.1.0 didn't resolve this issue. The timeout is not about uploading the application, but to provision it. The application takes few minutes to provision, while sfctl timeouts before it has completed. By the time it is 100% provisioned, the application unprovision itself automatically.

This is the error I get on the client, I can see the applicaiton is still provi

[2019-02-22 22:22] Christina-Kang commented on #177
@jfalameda While the timeout may occur on the client side (this is a bug on our part, that the timeout can occur before the cluster times out), the cluster should continue its work with provisioning. There should be no unprovision happening, even on error, from the cluster side. If you are running the upload / provision / create process as part of a script, this may be causing the unprovisioning t

[2019-03-02 11:03] oscarfuquen opened #186 "ConnectionError: HTTPConnectionPool(host='localhost', port=19080)"
My service fabric is not running. I am getting this error "ConnectionError: HTTPConnectionPool(host='localhost', port=19080)"

You can find all the info as per bellow:

- [X ] `sfctl` version, can check this using `pip show sfctl`
Metadata-Version: 2.1
Name: sfctl
Version: 7.1.0
Summary: Azure Service Fabric command line
Home-page: https://github.com/Azure/service-fabric-cli
Author: Microsoft Corp

[2019-03-05 18:58] Christina-Kang opened #187 "Sfctl upload returns times out or returns cert error when other commands work"
While running "sfctl upload", either timeout occurs while upload is happening, or the following error is returned "'403 Client Error: Client certificate required for url"

Other commands work in sfctl, and upload works in other clients, such as PowerShell.

This issue may be caused by the first file being uploaded being large. Adding a small empty text file with an alphabetically first file name t

[2019-03-05 19:17] Christina-Kang commented on #186
Hi @oscarfuquen , can you elaborate on what you mean by service fabric is not running? How did you set up the cluster, and can you access the cluster via the service fabric explorer?

Thanks!

[2019-03-06 09:39] oscarfuquen commented on #186
Hi @Christina-Kang ,

The dashboard does not load http:localhost:19080/Explorer/index.html#/

It shows an error in the bottom rigth corner - Error:  Get cluster health failed

When I ran this command `sfctl cluster select --debug`. I got the error above.

[2019-03-06 19:29] Christina-Kang commented on #186
Hi @oscarfuquen,

Most likely, this is because your cluster isn't actually up. How are you setting up the cluster? Are you using any custom values, and if so, what are they? Is this your first time setting it up, or did you have a working cluster previously?

Thanks!

[2019-03-08 12:26] oscarfuquen commented on #186
Ho @Christina-Kang

The cluster was installed as described  on the documentation at this link https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux#set-up-a-local-cluster.

No, custom values.

I used daily service fabric.

[2019-03-08 19:27] Christina-Kang commented on #186
Hi @oscarfuquen

Did you get any issues returned when you ran cluster set up? Did you machine sleep/hibernate since you set up the cluster? The easiest thing to do is probably just to delete the cluster and start a new one. What version of service fabric runtime are you using? If you are not able to create a new cluster after deleting the old one, can you share the traces? They should be located a

[2019-03-14 15:31] sealbus opened #189 "sfctl partition restart return (FMFailoverUnitNotFound) Null"
I'm trying to restart a partition using sfctl partition restart command.
This is not working as expected, here the debug result:

`
Command arguments: ['partition', 'restart', '--restart-partition-mode', 'AllReplicasOrInstances', '--service-id', 'IOTApplication/RedisService', '--partition-id', 'b09fb219-248c-244b-b298-27a0db25c053', '--operation-id', '0ebed82a-e90f-470a-aba9-8caf62ae5840', '--debu

[2019-03-18 05:41] echen805 commented on #27
Hi @Christina-Kang, is it okay if I still work on this?

[2019-03-21 18:11] Christina-Kang commented on #189
Thank you for reporting this error! We will take a look and get back soon. In the mean time, since you are on Windows, you can consider trying the PowerShell client to unblock you.

[2019-03-22 15:57] sealbus commented on #189
Thanks for you reply, i execute sfct on windows environment, but my Service Fabric Cluster is on Linux...
According to https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-linux-windows-differences Restart-ServiceFabricPartition not work against a Linux Service Fabric cluster.

[2019-03-25 18:52] Christina-Kang commented on #189
Hi @sealbus,

This doesn't look like an issue with sfctl itself. Could you please share service fabric traces for your cluster? They are located at `C:\SfDevCluster\Log\Traces` and will have a naming starting with `fabric_traces_...` along with an approximate time frame of when the operation took place.

Is this a secure local cluster?

Another thing I wanted to double check is the port. I see tha

[2019-05-17 13:12] MZDN commented on #189
same issue when run command: sudo sfctl chaos get

[2019-05-17 18:45] Christina-Kang commented on #189
Thank you, @MZDN for reporting! Taking a look

[2019-05-20 23:50] Christina-Kang commented on #189
@MZDN can you share some additional info please? Are you also running sfctl version 7.1.0 and runtime 6.4? Which Python version are you using? Can you also double check that fault analysis service is enabled on your cluster? This will be in the cluster manifest as `Section Name="FaultAnalysisService"`
with parameters `MinReplicaSetSize `and `TargetReplicaSetSize`. The section will be under `Fabric

[2019-08-03 06:31] NeolithEra opened #198 "Conflicts between service-fabric-cli and mock"
Hi, users are unable to run service-fabric-cli due to dependency conflict with _**mock**_ package.

As shown in the following full dependency graph of service-fabric-cli, service-fabric-cli requires _**mock**_，while nose2 0.9.1 requires _**mock==2.0.0**_.

According to pip’s “first found wins” installation strategy, _**mock==3.0.5**_ is the actually installed version. However, _**mock==3.0.5**_ do

[2019-08-03 06:31] NeolithEra commented on #198
Fix your direct dependency to be mock==2.0.0.
I have checked this revision will not affect your downstream projects now.

@Christina-Kang     May I pull a request to fix this issue?

[2019-08-05 13:44] athros opened #199 "sfctl throwing azure.servicefabric.models.fabric_error_py3.FabricErrorException: (NotFound) Null"
When reporting a new issue include the following information:

- [ ] `sfctl` version: ```Name: sfctl
Version: 7.1.0
Summary: Azure Service Fabric command line
Home-page: https://github.com/Azure/service-fabric-cli
Author: Microsoft Corporation
Author-email: sfpythoncli@microsoft.com
License: MIT
Location: /Users/athros/azure-work/lib/python3.7/site-packages
Requires: msrestazure, adal, psutil, req

[2019-08-12 17:59] jeffj6123 commented on #198
@NeolithEra  what install instructions are you using to get SFCTL?

[2019-08-16 03:55] NeolithEra commented on #198
We use : pip install -r requirement.txt to intall service-fabric-cli,
as we are planning to do  some secondary development and function expanding.

[2019-08-16 18:10] Christina-Kang commented on #198
@NeolithEra Gotcha! If you already have a fix for this on your branch, we would very much appreciate a PR! :) If not, we will push a fix through with our next update (provided this issue is non blocking for you, which it seems not to be).

Thanks!

[2019-10-24 07:29] JamieMagee commented on #180
@Christina-Kang knack version 0.6.3 is currently out. Are there still plans to do this upgrade?

[2019-10-24 18:13] Christina-Kang commented on #180
@JamieMagee yes we will be upgrading. Is there something specific you're looking for?

[2019-10-24 18:15] JamieMagee commented on #180
Nothing specific, just wanted to know if this work was still planned. Knack 0.6.x has been out for a while and this issue is quite old.

[2019-10-24 18:27] Christina-Kang commented on #180
@JamieMagee we've updated to version 0.6.3. It will be out with the next release :)

[2019-10-24 18:27] #180 closed

[2019-10-24 18:28] Christina-Kang commented on #180
sfmergeutil is already at latest. No work to be done there.

[2020-01-27 21:10] MattHartz commented on #187
Any updates?

[2020-01-27 21:39] Christina-Kang commented on #187
@jeffj6123

[2020-01-28 21:40] jeffj6123 commented on #187
A compress flag was added to this command, which could potentially help if youre hitting time out issues.

[2020-01-28 21:41] MattHartz commented on #187
@jeffj6123 Is this in the documentation? https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-sfctl-application#sfctl-application-upload

[2020-03-02 19:40] MyCADDev commented on #107
Hi @Christina-Kang
We are getting the same error in CentOS 7 using a standalone cluster. Here is my application_provision_request.json attached.

In this [URL ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux)there is a note saying "Standalone clusters aren't supported in Linux."

Does this mean that provision will not work or merely Microsoft will not active

[2020-03-02 19:43] Christina-Kang commented on #107
@jeffj6123 Can you answer MyCADDev's question? Thanks!

[2020-04-09 17:06] mrkarMSFT opened #216 ""sfctl cluster upgrade" fails with (FABRIC_E_FABRIC_ALREADY_IN_TARGET_VERSION) Fabric is already in this version"
sfctl Version:

Name: sfctl
Version: 9.0.0

Issue:

In an azure hosted SF cluster running 7.0.470.9590 version, while trying to run the below command it is failing with "(FABRIC_E_FABRIC_ALREADY_IN_TARGET_VERSION) Fabric is already in this version" error.

![image](https://user-images.githubusercontent.com/38073718/78920536-2d896300-7ab1-11ea-8bf4-a95904f1a1af.png)
****

Command ran:

sfctl cluste

[2020-04-09 17:57] jeffj6123 commented on #216
When running the command, what was the intent?
It looks like from the command you were attempting to upgrade to the version the cluster currently is?
The error returned says  FABRIC_E_FABRIC_ALREADY_IN_TARGET_VERSION, which would be the expected behavior.

[2020-04-09 18:14] mrkarMSFT commented on #216
@jeffj6123 The intent is to set "--unhealthy-nodes" value. As you can see above, without the code version, it doesn't allow the update. - "(E_INVALIDARG) Must specify either a valid target code or config version for Fabric upgrade. Requested value: ('','')"

Upon providing the code version, another issue comes up.

[2020-04-09 19:23] jeffj6123 commented on #216
Is this for a cluster in azure or on prem? Because there are a few steps that need to be taken to do a full upgrade through the CLI and depending on where the cluster is, its an easier process.

[2020-04-09 19:25] mrkarMSFT commented on #216
@jeffj6123 it is azure hosted.

[2020-04-09 19:27] jeffj6123 commented on #216
@mrkarMSFT  for a better and simpler experience you should follow this guide.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-config-upgrade-azure

[2020-04-09 19:31] mrkarMSFT commented on #216
@jeffj6123 this works. But I want to use sfctl on azure hosted clusters. Is it not possible? Do I have to use ARM template or PowerShell? We have customers looking for sfctl. Please share the steps on how to update using sfctl.

[2020-04-09 20:38] jeffj6123 commented on #216
Hey, @mrkarMSFT  so I did check about azure hosted clusters and you should always perform these upgrades using arm or something that goes through arm. There is another CLI option that will allow you to do this easily https://docs.microsoft.com/en-us/cli/azure/sf/cluster/setting?view=azure-cli-latest#az-sf-cluster-setting-set .

[2020-04-23 17:52] jfalameda opened #217 "Add documentation about uploading and updating a single service"
It would be great to add documentation about uploading and updating a single service if that is possible.

[2020-05-22 22:32] sandeepcongh opened #220 "Sfctl command to run Chaos test is failing with an error"
Hi,

The Sfctl command to run Chaos test is failing with this error.

sfctl version - 9.0.0
Service Fabric cluster runtime version - 7.1.409.9590
Service Fabric hosting location - Azure

**sfctl Command**
sfctl chaos start --time-to-run $timeToRunMinute --max-concurrent-faults $maxConcurrentFaults --max-cluster-stabilization $maxClusterStabilizationTimeSecs --wait-time-between-iterations $waitTime

[2020-05-27 21:43] jeffj6123 commented on #220
@sandeepcongh could you try using a json escaped string for the clusterHealthPolicyJSON?

[2020-11-16 17:13] jeffj6123 opened #226 "Remove left over python 2 specifc code"
When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [ ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error is present (can be captured using `--debug` flag)

Be sure to check if an issue already exists with your symptoms. If so, leave a `:thu

[2021-05-11 19:44] jeffj6123 opened #236 "remove mesh commands"
When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [ ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error is present (can be captured using `--debug` flag)

Be sure to check if an issue already exists with your symptoms. If so, leave a `:thu

[2021-05-26 19:36] #236 closed

[2021-06-29 13:00] snobu opened #241 "[sfctl] TLS error: Unexpected EOF when connecting to cluster"
I am not able to connect to any SF cluster using sfctl on macOS 11.4. Googling around i see mentions of sfctl attempting to negotiate TLS 1.0 instead of 1.2, however i can't find a parameter that would allow me to amend the protocol version for the handshake.

Cluster version: 8.0.514.9590 (managed SF cluster)
Cluster version: 8.0.521.9590 (unmanaged SF cluster)
^ These are two independent cluster

[2021-07-16 02:18] jeffj6123 commented on #241
Hello, @snobu  SFCTL is meant for connecting to the HTTP port of the cluster which is usually 19080 and as far as the key and cert params. those are meant to be file locations for where the key and pem file would be located.

[2021-11-04 14:58] jfalameda opened #243 "Add possibility to add unencrypted repository password on command line instead of promting it (sfctl compose)"
It would be great to add the possibility to append the docker repository key unencrypted on the ```sfctl compose``` command.

[2021-11-05 19:01] aaaronic opened #244 "After Install via Windows Powershell, `sfctl` is not recognized"
## Background
I installed sfctl according to the documentation here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli

After install, sfctl is not recognized:

[code]

It clearly is a PATH issue of some sort and I see documentation about how to fix a similar issue on Linux / Mac, but I don't see similar information for Windows (in my case, 10). Here is the relevant informat

[2022-03-22 21:27] jeffj6123 opened #247 "migrate to new python SDK format"
When reporting a new issue include the following information:

- [ ] `sfctl` version, can check this using `pip show sfctl`
- [ ] Service Fabric cluster runtime version
- [ ] Service Fabric hosting location (on-premise or Azure usually)
- [ ] Debug log if an error is present (can be captured using `--debug` flag)

Be sure to check if an issue already exists with your symptoms. If so, leave a `:thu

[2022-08-15 20:55] microsoft-github-policy-service[bot] opened #253 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-15 22:26] #253 closed